@font-face {
    font-family: "Gilroy";
    font-weight: 100;
    src: local("~/fonts/Gilroy/Gilroy-Thin.ttf") format("ttf");
}
@font-face {
    font-family: "Gilroy";
    font-weight: 200;
    src: local("~/fonts/Gilroy/Gilroy-ExtraLight.ttf") format("ttf");
}
@font-face {
    font-family: "Gilroy";
    font-weight: 300;
    src: local("~/fonts/Gilroy/Gilroy-Light.ttf") format("truetype");
}
@font-face {
    font-family: "Gilroy";
    font-weight: 400;
    src: local("~/fonts/Gilroy/Gilroy-Regular.ttf") format("truetype");
}
@font-face {
    font-family: "Gilroy";
    font-weight: 500;
    src: local("~/fonts/Gilroy/Gilroy-Medium.ttf") format("truetype");
}
@font-face {
    font-family: "Gilroy";
    font-weight: 600;
    src: local("~/fonts/Gilroy/Gilroy-SemiBold.ttf") format("truetype");
}
@font-face {
    font-family: "Gilroy";
    font-weight: 700;
    src: local("~/fonts/Gilroy/Gilroy-Bold.ttf") format("truetype");
}
@font-face {
    font-family: "Gilroy";
    font-weight: 800;
    src: local("~/fonts/Gilroy/Gilroy-ExtraBold.ttf") format("truetype");
}
@font-face {
    font-family: "Gilroy";
    font-weight: 900;
    src: local("~/fonts/Gilroy/Gilroy-Black.ttf") format("truetype");
}
@font-face {
    font-family: "Poppins";
    font-weight: 100;
    src: local("~/fonts/Poppins/Poppins-Thin.ttf") format("truetype");
}
@font-face {
    font-family: "Poppins";
    font-weight: 200;
    src: local("~/fonts/Poppins/Poppins-ExtraLight.ttf") format("truetype");
}
@font-face {
    font-family: "Poppins";
    font-weight: 300;
    src: local("~/fonts/Poppins/Poppins-Light.ttf") format("truetype");
}
@font-face {
    font-family: "Poppins";
    font-weight: 400;
    src: local("~/fonts/Poppins/Poppins-Regular.ttf") format("truetype");
}
@font-face {
    font-family: "Poppins";
    font-weight: 500;
    src: local("~/fonts/Poppins/Poppins-Medium.ttf") format("truetype");
}
@font-face {
    font-family: "Poppins";
    font-weight: 600;
    src: local("~/fonts/Poppins/Poppins-SemiBold.ttf") format("truetype");
}
@font-face {
    font-family: "Poppins";
    font-weight: 700;
    src: local("~/fonts/Poppins/Poppins-Bold.ttf") format("truetype");
}
@font-face {
    font-family: "Poppins";
    font-weight: 800;
    src: local("~/fonts/Poppins/Poppins-ExtraBold.ttf") format("truetype");
}
@font-face {
    font-family: "Poppins";
    font-weight: 900;
    src: local("~/fonts/Poppins/Poppins-Black.ttf") format("truetype");
}
